@model IEnumerable<MyMvcProject.Models.Course>
@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Course</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Credits</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Credits</td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
